body {
    margin: 0;
    padding: 0;
}

button {
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    flex: 30%;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}
.inputContainer input {
    border: none;
    padding: 5px;
}

.inputContainer input:nth-child(2) {
    border-bottom-left-radius: 5px;
    border-top: 1px solid black;
}
.inputContainer input:nth-child(1) {
    border-top-left-radius: 5px;
}

.header button {
    height: 30px;
    padding: calc(21px + 5px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:dodgerblue;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.todoList {
    flex: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;  
}